$btn-default-bg: #eee;
$btn-primary-bg: #52B6CE;
$btn-success-bg: #73C475;
$btn-warning-bg: #F5BB58;
$btn-danger-bg: #ED8078;

$btn-border-radius-base: 20px;
$padding-base-vertical: 8px;
$padding-base-horizontal: 20px;