.app {
  .table-wrapper {
    .filters {
      margin: 25px 0;
    }
    .table {
      thead {
        background: #67c0d6;
        color: #fff;
        th {
          border: none;
        }
      }
      tbody {
        td {
          border-top: none;
          border-bottom: solid 1px #f3f3f3;
          padding: {
            top: 10px;
            bottom: 10px;
          }
        }
      }
    }
  }
}